In [1]:
# Import Dependencies
import pandas as pd

In [2]:
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

In [3]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [4]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [5]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [13]:
# Merge the two DataFrames together based on the Dates they share
merge_table = pd.merge(bitcoin_df, dash_df, on="Date")
merge_table.head(10)

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"
5,12-Sep-17,539.03,559.22,505.01,510.41,273825000.0,"8,934,220,000",318.42,328.60,318.42,325.97,27190400.0,"2,404,680,000"
6,11-Sep-17,537.19,556.25,515.67,537.81,274712000.0,"8,902,570,000",322.02,332.12,315.91,318.40,25159900.0,"2,431,230,000"
7,10-Sep-17,546.48,546.75,484.09,537.07,289508000.0,"9,055,430,000",323.24,323.24,295.86,320.11,27435400.0,"2,439,780,000"
8,9-Sep-17,584.73,586.18,539.15,547.47,234578000.0,"9,688,150,000",334.95,335.13,313.69,323.14,23244600.0,"2,527,540,000"
9,8-Sep-17,654.37,687.30,557.50,583.10,809763000.0,"10,840,500,000",343.53,368.17,317.95,333.21,63012500.0,"2,591,570,000"

In [18]:
# Rename columns so that they are differentiated
merge_table.columns = ['Date', 'Open Bitcoin', 'High Bitcoin', 'Low Bitcoin', 'Close Bitcoin', 'Volume Bitcoin',
              'Market Cap Bitcoin', 'Open Dash', 'High Dash', 'Low Dash', 'Close Dash', 'Volume Dash',
              'Market Cap Dash'] 


merge_table.head()

,Date,Open Bitcoin,High Bitcoin,Low Bitcoin,Close Bitcoin,Volume Bitcoin,Market Cap Bitcoin,Open Dash,High Dash,Low Dash,Close Dash,Volume Dash,Market Cap Dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [8]:
# alternatively you can set your suffixes when the merge occurs

In [27]:
# Collecting best open for Bitcoin and Dash
openf = []
closef = []
volf = []
for x in merge_table.columns:
    if (x.startswith("Open")):
        print (x)
        print (merge_table[x].max())
        openf.append(merge_table[x].max())


# Collecting best close for Bitcoin and Dash
for x in merge_table.columns:
    if (x.startswith("Close")):
        print (x)
        print (merge_table[x].max())
        closef.append(merge_table[x].max())


# Collecting the total volume for Bitcoin and Dash
for x in merge_table.columns:
    if (x.startswith("Vol")):
        print (x)
        print (merge_table[x].max())
        volf.append(merge_table[x].max())

Open Bitcoin
772.42
Open Dash
400.42
Close Bitcoin
754.56
Close Dash
399.85
Volume Bitcoin
3196230000.0
Volume Dash
267415000.0

In [30]:
# Creating a summary DataFrame using above values

d = {'Open': openf, 'Close': closef, 'Vol': volf}
df = pd.DataFrame(d, index = ['bitcoin','dash'])
df.head()

           Open   Close           Vol
bitcoin  772.42  754.56  3.196230e+09
dash     400.42  399.85  2.674150e+08