In [2]:
# Import Dependencies
import pandas as pd

In [3]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [7]:
# Figure out the minimum and maximum views for a TED Talk
print("The minimum is " + str(ted_df["views"].min()))
print("The maximum is " + str(ted_df["views"].max()))

The minimum is 50443
The maximum is 47227110

In [58]:
import math
# Create bins in which to place values based upon TED Talk views

# Create labels for these bins

minbb = 50000
maxbb = 48000000

step = ((maxbb-minbb) / 5)
bins = []
names = []

for i in range(0,6):
    bins.append(math.trunc(minbb + (i * step)))

for i in range (0,5):
    names.append(str(i) + " STARS")

print(bins)
print(names)
print(len(bins))
print(len(names))

[50000, 9640000, 19230000, 28820000, 38410000, 48000000]
['0 STARS', '1 STARS', '2 STARS', '3 STARS', '4 STARS']
6
5

In [59]:
# Slice the data and place it into bins
ted_df["View Score Summary"] = pd.cut(ted_df["views"], bins, labels=names)
ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,View Score Summary
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,4 STARS
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,0 STARS
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,0 STARS
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,0 STARS
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,1 STARS

In [62]:
# Place the data series into a new column inside of the DataFrame

# Creating a group based off of the bins
ted_dff = ted_df.groupby("View Score Summary")
ted_dff.max()

,comments,description,duration,event,languages,main_speaker,name,title,views
View Score Summary,,,,,,,,,
0 STARS,6404,“People are so afraid of variety that they try...,5256,World Science Festival,72,iO Tillett Wright,iO Tillett Wright: Fifty shades of gay,“Am I dying?” The honest answer.,9551344
1 STARS,1604,You've never seen data presented like this. Wi...,1346,TEDxBloomington,66,Tim Urban,Tim Urban: Inside the mind of a master procras...,Your elusive creative genius,18830983
2 STARS,2877,"Tony Robbins discusses the ""invisible forces"" ...",1305,TEDxMidAtlantic,49,Tony Robbins,Tony Robbins: Why we do what we do,Why we do what we do,22270883
3 STARS,1930,Simon Sinek has a simple but powerful model fo...,1219,TEDxPuget Sound,52,Simon Sinek,Simon Sinek: How great leaders inspire action,The power of vulnerability,34309432
4 STARS,4553,Sir Ken Robinson makes an entertaining and pro...,1262,TEDGlobal 2012,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Your body language may shape who you are,47227110

In [70]:
# Create a GroupBy object based upon "View Group"


# Find how many rows fall into each bin
ted_dff["View Score Summary"].value_counts()
ted_dff["View Score Summary"].describe()

# Get the average of each column within the GroupBy object

AttributeError: Cannot access callable attribute 'groupby' of 'DataFrameGroupBy' objects, try using the 'apply' method